body{
    background-color: black;
    color: beige;
    font-family: 'Abel', sans-serif;


}

#main{
    display: flex;
    flex-direction: column;
    margin: 0; 
    text-align: center;
    align-items: center;
    padding: 50px;
}

form{
    padding-top: 20px;
}



.disData{
    display:grid;
    grid-template-rows: 1fr 1fr;    
    font-size: 2rem;
    text-align: justify;
}
.location{
    color:red;
}

button{

    /* width: 3rem; */
    /* height: 1rem; */
}